<h1>Search results for <%= @query %></h1>
<%= render 'shared/search_form', main_page: false %>
<h2 class="search-results-header">Projects <%= content_tag :span, "(#{@projects.count})", class: 'count' %></h2>
<ul class="search-results">
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %> (<%= link_to project.owner.name, project.owner %>)</li>
  <% end %>
</ul>
<h2 class="search-results-header">Issues <%= content_tag :span, "(#{@issues.count})", class: 'count' %></h2>
<ul class="search-results">
  <% @issues.each do |issue| %>
    <li>(<%= link_to issue.project.name, issue.project %>) <%= link_to issue.subject, issue %></li>
  <% end %>
</ul>
