<% provide(:title, "#{@issue.project.name} # #{@issue.subject}") %>
<h1><span id="id">#<%= @issue.id %></span> <%= @issue.subject %></h1>
<div id="issue">
  <div class="row">
    <div class="span6">
      <span id="project">Project: <%= link_to @issue.project.name, @issue.project %></span>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <span id="user">User: <%= link_to @issue.user.name, @issue.user %></span>
    </div>
  </div>
  <div></div>
  <div class="row">
    <div class="span12">
      Status: <%= Status.to_string(@issue.status) %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      Description:
      <p><%= @issue.description %></p>
    </div>
  </div>
  <div id="issue-actions">
    <div id="team-members-actions">
      <% if @issue.project.users.include?(current_user) %>
        <span>Close as </span>
        <%= link_to 'Fixed', issue_path(@issue, fixed: true), class: 'btn btn-success', method: :put %>
        <%= link_to 'By design', issue_path(@issue, by_design: true), class: 'btn btn-warning', method: :put %>
        <%= link_to 'Won\'t fix', issue_path(@issue, wont_fix: true), class: 'btn btn-danger', method: :put %>
      <% end %>
    </div>
    <div>
      <% @is_admin = !current_user.nil? && current_user.admin? %>
      <% if @issue.user == current_user || @issue.project.users.include?(current_user) || @is_admin %>
        <% if @issue.closed? %>
          <%= link_to 'Reopen issue', issue_path(@issue, reopen: true), class: 'btn btn-primary', method: :put %>
        <% else %>
          <%= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
          <%= link_to 'Close issue', issue_path(@issue, close: true), class: 'btn btn-danger', method: :put %>
        <% end %>
      <% end %>
      <% if @is_admin %>
        <%= link_to 'Remove issue', issue_path(@issue), class: 'btn btn-danger', method: :delete %>
      <% end %>
    </div>
  </div>
</div>