<% provide(:title, "#{@issue.project.name} # #{@issue.subject}") %>
<h1><span id="id">#<%= @issue.id %></span> <%= @issue.subject %></h1>
<div id="issue">
  <div class="row">
    <div class="span6">
      <span id="project">Project: <%= link_to @issue.project.name, @issue.project %></span>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <span id="user">User: <%= link_to @issue.user.name, @issue.user %></span>
    </div>
  </div>
  <div></div>
  <div class="row">
    <div class="span12">
      Status: <%= render 'shared/issue_badge', status: @issue.status, tooltip: false %> <%= Status.to_string @issue.status %>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      Priority: <%= Priority.to_string @issue.priority %>
      <% if @issue.project.users.include?(current_user) %>
        <!-- TODO: fix layout here -->
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Change
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% Priority.all.each do |priority| %>
              <li><%= link_to Priority.to_string(priority),
                              priority == @issue.priority ? '#' : issue_path(@issue, set_priority: priority),
                              method: :put %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      Description:
      <p class="well"><%= @issue.description %></p>
    </div>
  </div>
  <div id="issue-actions">
    <div>
      <% if @issue.project.users.include?(current_user) %>
        <% if @issue.status == Status::ACTIVE %>
          <%= link_to 'Confirm issue', issue_path(@issue, confirm: true), class: 'btn btn-success', method: :put %>
        <% end %>
        <%= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
        <% if @issue.closed? %>
          <span> or </span>
          <%= link_to 'Reopen issue', issue_path(@issue, reopen: true), class: 'btn btn-primary', method: :put %>
        <% else %>
          <span> or close as </span>
          <%= link_to 'Fixed', issue_path(@issue, fixed: true), class: 'btn btn-success', method: :put %>
          <%= link_to 'By design', issue_path(@issue, by_design: true), class: 'btn btn-warning', method: :put %>
          <%= link_to 'Won\'t fix', issue_path(@issue, wont_fix: true), class: 'btn btn-danger', method: :put %>
        <% end %>
      <% elsif @issue.user == current_user || @issue.project.users.include?(current_user) %>
        <% if @issue.closed? %>
          <%= link_to 'Reopen issue', issue_path(@issue, reopen: true), class: 'btn btn-primary', method: :put %>
        <% else %>
          <%= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
          <%= link_to 'Close issue', issue_path(@issue, close: true), class: 'btn btn-danger', method: :put %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if !current_user.nil? && current_user.admin? %>
        <span>as admin </span>
        <%= link_to 'Remove issue', issue_path(@issue), class: 'btn btn-danger', method: :delete %>
      <% end %>
    </div>
  </div>
</div>