<% provide(:title, "#{@issue.project.name} # #{@issue.subject}") %>
<h1><span id="id">#<%= @issue.id %></span> <%= @issue.subject %></h1>
<div id="issue">
  <div class="row">
    <div class="span6">
      <div id="project">Project: <%= link_to @issue.project.name, @issue.project %></div>
      <div id="user">User: <%= link_to @issue.user.name, @issue.user %></div>
      <div>Assignee: <%= @issue.assignee ? (link_to @issue.assignee.name, @issue.assignee) : 'nobody' %>
        <% if @issue.project.users.include? current_user %>
          <%= link_to 'Assign ...', '#assign-issue-modal', class: 'btn btn-mini', 'data-toggle' => 'modal' %>
          <%= link_to 'to me', assign_path(id: @issue.id, user_id: current_user.id), method: :put, class: 'btn btn-mini' %>
        <% end %>
      </div>
      <div>Status: <%= render 'shared/issue_status_badge', status: @issue.status, tooltip: false %> <%= Status.to_string @issue.status %></div>
      <div>Priority: <%= render 'shared/issue_priority_badge', priority: @issue.priority, tooltip: false %> <%= Priority.to_string @issue.priority %></div>
      <% if @issue.project.users.include?(current_user) %>
        <!-- TODO: fix layout here -->
        <div class="btn-group">
          <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
            Change
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% Priority.all.each do |priority| %>
              <li><%= link_to Priority.to_string(priority),
                              priority == @issue.priority ? '#' : issue_path(@issue, set_priority: priority),
                              method: :put %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      Description:
      <p class="well"><%= @issue.description %></p>
    </div>
  </div>
  <div id="issue-actions">
    <div>
      <% if @issue.project.users.include?(current_user) %>
        <% if @issue.status == Status::ACTIVE %>
          <%= link_to 'Confirm issue', issue_path(@issue, set_status: Status::TO_BE_FIXED), class: 'btn btn-success', method: :put %>
        <% end %>
        <%= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
        <% if @issue.closed? %>
          <span> or </span>
          <%= link_to 'Reopen issue', issue_path(@issue, set_status: Status::ACTIVE), class: 'btn btn-primary', method: :put %>
        <% else %>
          <span> or close as </span>
          <%= link_to 'Fixed', issue_path(@issue, set_status: Status::FIXED), class: 'btn btn-success', method: :put %>
          <%= link_to 'By design', issue_path(@issue, set_status: Status::BY_DESIGN), class: 'btn btn-warning', method: :put %>
          <%= link_to 'Won\'t fix', issue_path(@issue, set_status: Status::WONT_FIX), class: 'btn btn-danger', method: :put %>
        <% end %>
      <% elsif @issue.user == current_user || @issue.project.users.include?(current_user) %>
        <% if @issue.closed? %>
          <%= link_to 'Reopen issue', issue_path(@issue, set_status: Status::ACTIVE), class: 'btn btn-primary', method: :put %>
        <% else %>
          <%= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary' %>
          <%= link_to 'Close issue', issue_path(@issue, set_status: Status::CLOSED), class: 'btn btn-danger', method: :put %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if !current_user.nil? && current_user.admin? %>
        <span>as admin </span>
        <%= link_to 'Remove issue', issue_path(@issue), class: 'btn btn-danger', method: :delete %>
      <% end %>
    </div>
    <%= link_to '← to project', @issue.project, class: 'btn' %>
  </div>
  <section class="comments">
    <div class="comments-header">
      Comments <%= content_tag :span, "(#{@issue.comments.count})", class: 'count' %>
    </div>
    <% if @issue.comments.any? %>
      <% @issue.comments.each do |comment| %>
        <div class="comment">
          <div class="header">
            <%= gravatar_for comment.user, size: 32 %>
            <%= link_to comment.user.name, comment.user %>
          </div>
          <div class="body">
            <%= comment.message %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if signed_in? %>
      <%= render 'shared/comment_form' %>
    <% end %>
  </section>
</div>
<% if @issue.project.users.include? current_user %>
  <!-- assign issue modal -->
  <div class="modal" id="assign-issue-modal" style="display: none;">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Assign this issue</h3>
    </div>
    <div class="modal-body">
      <%= form_tag assign_path, method: :put do %>
        <ul>
          <%= hidden_field_tag :id, @issue.id %>
          <% @issue.project.users.each do |user| %>
            <li><%= radio_button_tag 'user_id', user.id, user == @issue.assignee %>
            <%= gravatar_for user, size: 32 %>
            <%= label_tag "user_id_#{user.id}", user.name %></li>
          <% end %>
        </ul>
        <%= submit_tag 'Assign', class: 'btn btn-primary btn-large' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Assign to nobody', assign_path(id: @issue.id, user_id: 0), method: :put, class: 'btn' %>
      <a href="#" class="btn" onclick="$('#assign-issue-modal').modal('hide')">Close</a>
    </div>
  </div>
<% end %>