<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <div class="tabbable" id="user-projects">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#projects">Projects <%= content_tag :span, "(#{@user.projects.count})", class: 'count' %></a></li>
        <% if @user.invitations.any? %>
          <li><a data-toggle="tab" href="#invitations">Invitations <%= content_tag :span, "(#{@user.invitations.count})", class: 'count' %></a></li>
        <% end %>
        <span class='new-project'><%= link_to 'Create new project', new_project_path, class:'btn btn-primary new-project' %></span>
      </ul>
      <div class="tab-content">
        <div id="projects" class="tab-pane active">
          <ul class="list">
            <% @user.projects.each do |project| %>
              <li><%= link_to project.name, project %></li>
            <% end %>
          </ul>
        </div>
        <div id="invitations" class="tab-pane">
          <ul class="list">
            <% @user.invitations.each do |invitation| %>
              <li>
                <%= link_to invitation.project.name, invitation.project, class: 'invitation-project-link' %>
                <%= link_to 'Accept', '#', class: 'btn btn-success invitation-action-link' %>
                <%= link_to 'Reject', '#', class: 'btn btn-danger invitation-action-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <%= render 'shared/issues_list',
                 project_id: nil,
                 issues_lists: [ { issues: @user.active_reported_issues, header: 'Active reported issues' },
                                 { issues: @user.closed_reported_issues, header: 'Closed reported issues' } ] %>
    </div>
  </div>
</div>