<section class="issues-list">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% issues_lists.each_with_index do |info, i| %>
        <li class="<%= i == 0 ? 'active' : '' %>">
          <a data-toggle="tab" href="#<%= issues_id_from info[:header] %>"><%= "#{info[:header]} (#{info[:issues].count})" %></a>
        </li>
      <% end %>
      <!-- TODO refactor this, span should not be inside ul -->
      <span class='new-issue'><%= link_to 'Report an issue', new_issue_path(project: project_id), class:'btn btn-primary' %></span>
    </ul>
    <div class="tab-content">
      <% issues_lists.each_with_index do |info, i| %>
        <div id="<%= issues_id_from info[:header] %>" class="tab-pane<%= i == 0 ? ' active' : '' %>">
          <div class="list">
            <ul>
              <% info[:issues].each do |issue| %>
                <li><span class="id">#<%= issue.id %></span>
                  <%= render 'shared/issue_badge', status: issue.status, tooltip: true %>
                  <% if project_id.nil? %>
                    (<%= link_to issue.project.name, issue.project %>)
                  <% end %>
                  <%= link_to issue.subject, issue %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>