<% provide(:title, @project.name) %>
<h1><%= @project.name %></h1>
<div class="row-fluid">
  <aside class="span4">
    <h2>Team</h2>
    <div id="team">
      <ul>
        <% @project.users.each do |user| %>
          <%= gravatar_for @project.owner, size: 32 %>
          <% if user == @project.owner %>
            <li class="owner"><%= link_to user.name, user %></li>
          <% else %>
            <li><%= link_to user.name, user %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </aside>
  <section class="span8">
    <h2>Issues</h2>
    <div id="issues-list">
      <ul>
        <% @project.issues.each do |issue| %>
          <li><span class="id">#<%= issue.id %></span> <%= link_to issue.subject, issue %></li>
        <% end %>
      </ul>
    </div>
    <span id="new-issue"><%= link_to 'Report an issue', new_issue_path(project: @project.id), class: 'btn btn-primary' %></span>
  </section>
</div>