<% provide(:title, @project.name) %>
<% @gravatar_size = 18 %>
<h1><%= @project.name %></h1>
<div class="row-fluid">
  <aside class="span4">
    <h2>Team</h2>
    <div id="team">
      <ul>
        <% @project.users.each do |user| %>
          <% if user == @project.owner %>
            <li class="owner"><%= gravatar_for user, size: @gravatar_size %><%= link_to user.name, user %></li>
          <% else %>
            <li><%= gravatar_for user, size: @gravatar_size %><%= link_to user.name, user %></li>
          <% end %>
        <% end %>
        <% @project.open_invitations.map(&:user).each do |user| %>
          <li class="open-invitation"><%= gravatar_for user, size: @gravatar_size %><%= link_to user.name, user %> (invitation pending)</li>
        <% end %>
      </ul>
      <% if @project.users.include? current_user %>
        <a href="#invite-user-modal" data-toggle="modal" class="btn btn-primary">Invite a user</a>
      <% end %>
    </div>
  </aside>
  <div class="span8">
    <%= render 'shared/issues_list',
               project_id: @project.id,
               issues_lists: [ { issues: @project.active_issues, header: 'Active' },
                               { issues: @project.closed_issues, header: 'Closed' } ] %>
  </div>
</div>
<% if @project.users.include? current_user %>
  <!-- invite user modal -->
  <div class="modal" id="invite-user-modal" style="display: none;">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Invite user</h3>
    </div>
    <div class="modal-body">
      <%= form_tag invite_path, class: 'form-horizontal' do %>
        <div class="control-group">
          <%= label_tag :user_email, 'Email', class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :user_email, 'Email', class: 'span5' %>
            <%= hidden_field_tag :project_id, @project.id %>
            <%= submit_tag 'Send invitation', class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" onclick="$('#invite-user-modal').modal('hide')">Close</a>
    </div>
  </div>
<% end %>